USE [master]
GO
/****** Object:  Database [blooper]    Script Date: 2023/08/06 19:51:45 ******/
CREATE DATABASE [blooper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'blooper', FILENAME = N'D:\SQL2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\blooper.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'blooper_log', FILENAME = N'D:\SQL2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\blooper_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [blooper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [blooper]
GO
/****** Object:  Table [dbo].[bloopers]    Script Date: 2023/08/06 19:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bloopers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[word] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2023/08/06 19:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_create_blooper]    Script Date: 2023/08/06 19:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_blooper]
	@word varchar(50)
AS
BEGIN
	INSERT INTO bloopers (word) VALUES (@word)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_create_user]    Script Date: 2023/08/06 19:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_user]
	@username VARCHAR(255)
AS
BEGIN
	INSERT INTO users (username) VALUES (@username)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_user]    Script Date: 2023/08/06 19:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_delete_user]
	@id int
AS
DELETE FROM users WHERE id = @id
GO
/****** Object:  StoredProcedure [dbo].[sp_get_all_bloopers]    Script Date: 2023/08/06 19:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_all_bloopers]
AS
BEGIN
SELECT * FROM bloopers;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_all_users]    Script Date: 2023/08/06 19:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_all_users]
AS
BEGIN
SELECT * FROM users;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_user_by_username]    Script Date: 2023/08/06 19:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_user_by_username]
	@username varchar(50)
AS
BEGIN
	SELECT * FROM users WHERE username = @username
END
GO
USE [master]
GO
