@using BlooperFE.Data
@using Newtonsoft.Json
@using Data
@using Providers
@using Hubs
@using Components
@using BlooperFE.Services

@inject BlooperService blooperService
@inject HttpClient client

<div class="main">
    @if (bloopers is null)
    {
        <p>Loading...</p>
    }
    else
    {
        <ul class="words-parent">
            @foreach (BlooperModel blooper in bloopers)
            {
                <li class="word">@blooper.word</li>
            }
        </ul>
    }
</div>


@code {
    public class Blooper
    {
        public int id { get; set; }
        public string word { get; set; }
    }

    List<BlooperModel> bloopers = new List<BlooperModel>();

    protected override async Task OnInitializedAsync()
    {
        bloopers = await blooperService.GetBloopersAsync();
    }
}
